.button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #181818;
  cursor: pointer;

}

.container {
  color: coral;
}

:global(.dark) .container {
  color: #615fff;
}

.container :global(button) {
  border: 0;
}